In [1]:
import pandas as pd

In [24]:
df=pd.read_excel('desbravando-pandas-main/transactions (2).xlsx')
df

,UUID,IdCustomer,DtTransaction,Points
0,fb4e3102-6125-414e-b086-e7f641e38f93,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:23.774,1
1,036b8d66-8adf-479b-ba0f-cb0e3207acb0,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:24.643,1
2,10166182-a164-4608-8cdf-35e4450b2bd7,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:11:44.728,500
3,03974c58-e86e-4b6b-8143-8f89ca870d09,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:19:41.063,1
4,e84703a6-b606-4096-a2f3-514971c16c5c,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:31:46.288,500
...,...,...,...,...
23497,25500149-c2b8-4942-90f7-39f136d9fb1b,2d7f6b3f-9366-44c1-9663-beb5f7e1254e,2024-03-04 12:24:18.083,1
23498,75b3856f-083d-4775-98c9-7a9791b4d693,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:24:27.976,1
23499,827a1417-902c-4657-a0e5-4cef5d2bd8ca,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:25:13.024,1
23500,7429b0a5-08a5-470c-8091-12f627d21911,f3a268f2-1788-47da-bc79-2680a1721254,2024-03-04 12:25:28.565,50
23501,07d25502-18a9-4107-b4af-9b5ba8b5a46d,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-03-04 12:26:03.369,1

In [27]:
df['IdCustomer'].duplicated().sum()

22775

In [63]:
#Ordenando e vendo qual é a ultima IdCustomer

dfnovo=(df.sort_values(by=['IdCustomer','DtTransaction','Points'],ascending=False)
       .drop_duplicates(subset='IdCustomer',keep='first')
       )

UUID             23502
IdCustomer         727
DtTransaction    23502
Points               5
dtype: int64