In [2]:
import pandas as pd

In [10]:



idades=[19,18,20,25,22]
nomes=['Joao','Julisbelton','Roberto','Camila',"Edilaine",]
nomes

['Joao', 'Mari', 'Roberto', 'Camila', 'Edilaine']

In [24]:
series_idade=pd.Series(idades,nomes)



series_idade.describe()

count     5.000000
mean     20.800000
std       2.774887
min      18.000000
25%      19.000000
50%      20.000000
75%      22.000000
max      25.000000
dtype: float64

In [19]:


type(series_idade)

pandas.core.series.Series

In [26]:
#Navegando no series de uma forma inapropriada

series_idade[0:2]

Joao    19
Mari    18
dtype: int64

In [35]:
#Mudando o indice

series_idade.index=['j','o','a','o','g']
print(series_idade.loc['o'])
print(series_idade.iloc[2])

o    18
o    25
dtype: int64
20

In [30]:
# Percorrendo o series independente do indice. As vezes eu nao sei o indice e quero saber
# o elemento só pela posição.Percorre como se fosse uma lista 

series_idade.iloc[2]

20

In [38]:
# Criando um dicionario

dicionario={"Nomes":["Gilberto","Gil","Robertson","Camille"],
           "Sobrenome":["Gil","Junior","Neymar","Fonseca"],
           "idade":[25,26,45,35]}

dicionario["Sobrenome"][1]

'Junior'

In [42]:
# Criando um dicionario e atribuindo a ele o nosso dicionario

dataframe=pd.DataFrame(dicionario)
dataframe

       Nomes Sobrenome  idade
0   Gilberto       Gil     25
1        Gil    Junior     26
2  Robertson    Neymar     45
3    Camille   Fonseca     35

In [48]:
# Navegando pelo dataframe pegando uma linha toda

dataframe.iloc[0]

Nomes        Gilberto
Sobrenome         Gil
idade              25
Name: 0, dtype: object

In [51]:
#Exibindo uma coluna inteira (Series)

dataframe['Nomes']

0     Gilberto
1          Gil
2    Robertson
3      Camille
Name: Nomes, dtype: object

In [53]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nomes      4 non-null      object
 1   Sobrenome  4 non-null      object
 2   idade      4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes