In [2]:
import pandas as pd

In [54]:



idades=[19,18,20,25,22]
nomes=['Joao','Julisbelton','Roberto','Camila',"Edilaine",]
nomes

['Joao', 'Julisbelton', 'Roberto', 'Camila', 'Edilaine']

In [56]:
#Exibindo as nossas colunas 

series_idade=pd.Series(idades,nomes)


series_idade

Joao           19
Julisbelton    18
Roberto        20
Camila         25
Edilaine       22
dtype: int64

In [57]:
#Exibindo nossa analise descritiva

series_idade.describe()

count     5.000000
mean     20.800000
std       2.774887
min      18.000000
25%      19.000000
50%      20.000000
75%      22.000000
max      25.000000
dtype: float64

In [58]:
#Confirmando o tipo primitivo da series

type(series_idade)

pandas.core.series.Series

In [64]:
#Navegando no series de uma forma inapropriada

series_idade[0:1]

Joao    19
dtype: int64

In [66]:
#Mudando o indice

series_idade.index=['j','o','a','o','g']
print(series_idade.loc['o'])
print(series_idade.iloc[2])

o    18
o    25
dtype: int64
20

In [67]:
# Percorrendo o series independente do indice. As vezes eu nao sei o indice e quero saber
# o elemento só pela posição.Percorre como se fosse uma lista 

series_idade.iloc[2]

20

In [68]:
# Loc percorre pelo INDICE que foi declarado pelo usuario. 

series_idade.loc['o']

o    18
o    25
dtype: int64

In [38]:
# Criando um dicionario

dicionario={"Nomes":["Gilberto","Gil","Robertson","Camille"],
           "Sobrenome":["Gil","Junior","Neymar","Fonseca"],
           "idade":[25,26,45,35]}

dicionario["Sobrenome"][1]

'Junior'

In [42]:
# Criando um dicionario e atribuindo a ele o nosso dicionario

dataframe=pd.DataFrame(dicionario)
dataframe

       Nomes Sobrenome  idade
0   Gilberto       Gil     25
1        Gil    Junior     26
2  Robertson    Neymar     45
3    Camille   Fonseca     35

In [48]:
# Navegando pelo dataframe pegando uma linha toda

dataframe.iloc[0]

Nomes        Gilberto
Sobrenome         Gil
idade              25
Name: 0, dtype: object

In [51]:
#Exibindo uma coluna inteira (Series)

dataframe['Nomes']

0     Gilberto
1          Gil
2    Robertson
3      Camille
Name: Nomes, dtype: object

In [53]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nomes      4 non-null      object
 1   Sobrenome  4 non-null      object
 2   idade      4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [72]:
teste=(24,2,45,6)

colunaTeste=pd.Series(teste)
colunaTeste.describe().round()

count     4.0
mean     19.0
std      20.0
min       2.0
25%       5.0
50%      15.0
75%      29.0
max      45.0
dtype: float64

In [2]:
import pandas as pd  # Importando a biblioteca pandas


df = pd.DataFrame({
    'carros': ['Chevrolet', 'Hyundai', 'Saveiro', 'Camaro', 'Porsche'],
    'ano': [1999, 2010, 2004, 2019, 1987]
})  # Criando o DataFrame

df

      carros   ano
0  Chevrolet  1999
1    Hyundai  2010
2    Saveiro  2004
3     Camaro  2019
4    Porsche  1987

In [3]:
df.shape

(5, 2)

In [15]:
# Exercicios 

dados=[10,20,42,35,36,37,22,89,66,23,46,75,31]

series=pd.Series(dados)

dicionario={
'media':series.mean().round(),
'desvio':series.std(),
'maximo':series.max()
}


#Aqui eu estou atribuindo a chave e o valor do dicionario nas variaveis chave e valor.
#entao em cada iteração, a chave e o valor mudam
#isso dentro de um for
#esse 

for chave,valor in dicionario.items():
    print(f'A {chave} dos dados é de {valor}')


# Esse dicionario.items() MOSTRA OS ITEMS DA NOSSO DICIONARIO
print(dicionario.items())

A media dos dados é de 41.0
A desvio dos dados é de 23.048722084826952
A maximo dos dados é de 89
dict_items([('media', 41.0), ('desvio', 23.048722084826952), ('maximo', 89)])

In [33]:
# Exercicio 2
import pandas as pd

dados= {'nome':["Téo", "Nah", "Napoleão",'Téo'], 
        'idade': [31, 32, 14,22]}

dataframe=pd.DataFrame(dados)

sumario_numerico=dataframe['idade'].describe()
sumario_obj=dataframe['nome'].describe()

print(f'Sumario numerico:\n {sumario_numerico} \n Sumario String: {sumario_obj}')
print(f'\nA media é {dataframe['idade'].mean().round()}')
print(f'\nO ultimo nome da coluna nome é {dataframe['nome'].iloc[-1]}') #Aqui eu tinha feito como se fosse em Lista, mas para ser que nem lista, tenho que
#Colocar o Iloc

Sumario numerico:
 count     4.000000
mean     24.750000
std       8.460693
min      14.000000
25%      20.000000
50%      26.500000
75%      31.250000
max      32.000000
Name: idade, dtype: float64
 Sumario String: count       4
unique      3
top       Téo
freq        2
Name: nome, dtype: object

A media é 25.0

O ultimo nome da coluna nome é Téo

In [29]:
# Exercicio 2
import pandas as pd

dados= {'nome':["Téo", "Nah", "Napoleão",'Téo'], 
        'idade': [31, 32, 14,22]}

dataframe=pd.DataFrame(dados)